@media (max-width: 1200px) {
    .lost,
    .win {
        left: 38%;
        top: 38px;
    }
}
@media (max-width: 1000px) {
    .lost,
    .win {
        left: 35%;
        top: 38px;
    }
}
@media (max-width: 800px) {
    .lost,
    .win {
        left: 32%;
        top: 38px;
    }
}
@media (max-width: 768px) {
    .page {
        max-width: 768px;
    } 
    .img-gallows {
        max-height: 250px;
    }
    .main__left-partman {
       margin: -28px 0px 0px 64px;
       transform: scale(0.35);
    }
    .img1 img {
        margin: -30px 0px 0px -490px;
        width: 120px;
    }
    .img2 {
        margin: -10px 0px 0px -490px;
    }
    .img3 {
        margin: -130px 60px 0px -490px;
    }
    .img4 {
        margin: -84px -63px 0px -490px;
    }
    .img5 {
       margin: 30px 60px 0px -490px;
    }
    .img6 {
       margin: -85px -66px 0px -490px;
    } 
    .word__none {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .word__none-letters {
        gap: 10px;
    }
    .letter {
     border-bottom: solid 4px blue;
     width: 30px;
     margin: 30px 0px 10px 0px;
    }
    .letter.word__none-letter {
        font-size: 18px;
        font-weight: 800;
    }
    .question__text {
        font-size: 20px;
        margin: 20px 0px 10px 0px;
    }
    .score__text {
        font-size: 20px;
        margin: 0px 0px 10px 0px;
    }
    .keybord {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;
        max-width: 340px;
    }
    .keybord button {
        background-color: rgb(217, 221, 80);
        font-size: 20px;
        width: 30px;
        height: 30px;
    }
    .footer__year,
    .footer__rs {
        font-size: 18px;
    }
    .footer__github img {
        width: 40px;
        height: 40px;
        margin: 0px;
    }
    .lost,
    .win {
        left: 30%;
        top: 38px;
    }
}

@media (max-width: 578px) {
    .page {
        max-width: 578px;
    } 
    .header {
        font-size: 10px;
    }
    .img-gallows {
        max-height: 250px;
        margin: 10px 0px 0px 0px;
    }
    .main__left-partman {
       margin: -18px 0px 0px 64px;
       transform: scale(0.34);
    }
    .img1 img {
        margin: -30px 0px 0px -490px;
        width: 120px;
    }
    .img2 {
        margin: -10px 0px 0px -490px;
    }
    .img3 {
        margin: -130px 60px 0px -490px;
    }
    .img4 {
        margin: -84px -63px 0px -490px;
    }
    .img5 {
       margin: 25px 60px 0px -490px;
    }
    .img6 {
       margin: -85px -66px 0px -490px;
    } 
    .word__none {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .word__none-letters {
        gap: 7px;
    }
    .letter {
     border-bottom: solid 3px blue;
     width: 25px;
     margin: 30px 0px 10px 0px;
    }
    .letter.word__none-letter {
        font-size: 18px;
        font-weight: 800;
    }
    .question__text {
        font-size: 18px;
        margin: 20px 0px 10px 0px;
    }
    .score__text {
        font-size: 18px;
        margin: 0px 0px 10px 0px;
    }
    .keybord {
        flex-wrap: wrap;
        max-width: 290px;
    }
    .keybord button {
        font-size: 18px;
        width: 25px;
        height: 25px;
    }
    .footer__year,
    .footer__rs {
        font-size: 15px;
    }
    .footer__github img {
        width: 35px;
        height: 35px;
        margin: 0px;
    }
    .lost,
    .win {
        left: 24%;
        top: 30px;
    }
}

@media (max-width: 500px) {
    .page {
        max-width: 500px;
    } 
    .img-gallows {
        max-height: 130px;
        padding: 0px 0px 20px 0px;
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main__left-partman {
       margin: -67px 0px 0px 12px;
       transform: scale(0.15);
    }
    .img1 img {
        margin: 0px 0px 0px -300px;
        width: 120px;
    }
    .img2 {
        margin: 0px 0px -40px -300px;
    }
    .img3 {
        margin: -140px 60px 0px -300px;
    }
    .img4 {
        margin: -85px -63px 0px -300px;
    }
    .img5 {
       margin: 30px 0px -90px -360px;
    }
    .img6 {
       margin: -85px -66px -200px -300px;
    } 
    .word__none {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: -30px 0px 0px 0px;
    }
    .word__none-letters {
        gap: 7px;
        margin: -10px 0px -20px 0px;
    }
    .letter {
     border-bottom: solid 3px blue;
     width: 20px;
     margin: 30px 0px 10px 0px;
    }
    .letter.word__none-letter {
        font-size: 15px;
        font-weight: 800;
    }
    .question__text {
        font-size: 15px;
        margin: 20px 0px 10px 0px;
    }
    .score__text {
        font-size: 15px;
        margin: 0px 0px 10px 0px;
    }
    .keybord {
        max-width: 240px;
    }
    .keybord button {
        font-size: 12px;
        width: 20px;
        height: 20px;
    }
    .win,
    .lost {
        left: 20%;
        top: 25px;
    }
    .footer__year,
    .footer__rs {
        font-size: 15px;
    }
    .footer__github img {
        width: 35px;
        height: 35px;
        margin: 0px;
    }
}