@media (max-width: 1200px) {
    .lost,
    .win {
        left: 38%;
        top: 38px;
    }
}
@media (max-width: 1000px) {
    .lost,
    .win {
        left: 35%;
        top: 38px;
    }
    .question {
        max-width: 500px;
    }
    .keybord {
        max-width: 500px;
    }
    .keybord button {
        font-size: 32px;
        width: 45px;
        height: 45px;
        margin: 2px;
    } 
    .question__text {
        font-size: 35px;
    }
}
@media (max-width: 875px) {
    .lost,
    .win {
        left: 35%;
        top: 38px;
    }
    .question {
        max-width: 450px;
    }
    .keybord {
        max-width: 450px;
    }
    .keybord button {
        font-size: 32px;
        width: 40px;
        height: 40px;
        margin: 2px;
    } 
    .question__text {
        font-size: 35px;
    }
}
@media (max-width: 800px) {
    .lost,
    .win {
        left: 30%;
        top: 38px;
    }
}
@media (max-width: 768px) {
    .page {
        max-width: 768px;
    } 
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-gallows {
        max-height: 130px;
        padding: 0px 0px 20px 0px;
    }
    .main__left-partman {
       margin: -67px 0px 0px 12px;
       transform: scale(0.15);
    }
    .img1 img {
        margin: 0px 0px 0px -300px;
        width: 120px;
    }
    .img2 {
        margin: 0px 0px -40px -300px;
    }
    .img3 {
        margin: -140px 60px 0px -300px;
    }
    .img4 {
        margin: -85px -63px 0px -300px;
    }
    .img5 {
       margin: 30px 0px -100px -360px;
    }
    .img6 {
       margin: -85px -66px -200px -300px;
    } 
    .word__none {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .word__none-letters {
        gap: 10px;
        height: 50px;
    }
    .letter {
     border-bottom: solid 4px blue;
     width: 30px;
     margin: 30px 0px 10px 0px;
    }
    .letter.word__none-letter {
        font-size: 18px;
        font-weight: 800;
    }
    .question__text {
        font-size: 20px;
        margin: 0px 0px 10px 0px;
    }
    .score__text {
        font-size: 20px;
        margin: 0px 0px 10px 0px;
    }
    .keybord {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;
        max-width: 440px;
    }
    .keybord button {
        background-color: rgb(217, 221, 80);
        font-size: 30px;
        width: 40px;
        height: 40px;
        margin: 0px;
    }
    .footer__year,
    .footer__rs {
        font-size: 18px;
    }
    .footer__github img {
        width: 40px;
        height: 40px;
        margin: 0px;
    }
    .lost,
    .win {
        left: 30%;
        top: 38px;
    }
}
@media (max-width: 600px) {
   
    .win,
    .lost {
        left: 30%;
        top: 25px;
    }
}
@media (max-width: 500px) {
    .header__text {
        font-size: 33px;
    }
    .win,
    .lost {
        left: 20%;
        top: 25px;
    }
}
@media (max-width: 440px) {
    .question__text {
        font-size: 17px;
    }
    .keybord {
        max-width: 390px;
    }
    .keybord button {
        font-size: 25px;
        width: 38px;
        height: 38px;
        margin: 0px;
    }
}

@media (max-width: 380px) {
    .page {
        max-width: 380px;
    } 
    .header__text {
        font-size: 30px;
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-gallows {
        max-height: 130px;
        padding: 0px 0px 60px 0px;
    }
    .main__left-partman {
       margin: -67px 0px 0px 12px;
       transform: scale(0.15);
    }
    .img1 img {
        margin: -75px 0px 0px -300px;
        width: 120px;
    }
    .img2 {
        margin: 0px 0px -40px -300px;
    }
    .img3 {
        margin: -140px 60px 0px -300px;
    }
    .img4 {
        margin: -85px -63px 0px -300px;
    }
    .img5 {
       margin: 30px 0px -90px -360px;
    }
    .img6 {
       margin: -85px -66px -200px -300px;
    } 
    .word__none {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: -30px 0px 0px 0px;
    }
    .word__none-letters {
        gap: 7px;
        margin: -10px 0px -20px 0px;
    }
    .letter {
     border-bottom: solid 3px blue;
     width: 20px;
     margin: 30px 0px 10px 0px;
    }
    .letter.word__none-letter {
        font-size: 15px;
        font-weight: 800;
    }
    .question__text {
        font-size: 15px;
        margin: 20px 0px 10px 0px;
    }
    .score__text {
        font-size: 15px;
        margin: 0px 0px 10px 0px;
    }
    .keybord {
        max-width: 320px;
    }
    .keybord button {
        font-size: 25px;
        width: 36px;
        height: 36px;
        margin: 0px;
    }
    .win,
    .lost {
        left: 20%;
        top: 25px;
    }
    .footer__year,
    .footer__rs {
        font-size: 15px;
    }
    .footer__github img {
        width: 35px;
        height: 35px;
        margin: 0px;
    }
}
@media (max-width: 400px) {
    .lost,
    .win {
        left: 15%;
        top: 25px;
    }
}