html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    background-color: linen;
    padding: auto 20px;
}
.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 1440px;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(224, 190, 197);
}
.header__text {
  margin: 5px;
  animation: header__text 2s infinite;
}
@keyframes header__text {
    from { color:black}
    to {color: brown;}
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main__left {
    display: flex;
}
.img-gallows {
    max-height: 350px;
}
.main__left-partman {
   display: flex; 
   flex-direction: column;
   position: absolute;
   margin: 30px 0px 0px 115px;
   transform: scale(0.6);
}
.img1 {
    margin: -5px 0px 0px 0px;
   
}
.img2 {
    margin: -130px 60px 0px 0px;
}
.img3 {
    margin: -84px -63px 0px 0px;
}
.img4 {
    margin: 37px 65px 0px 0px;
}
.img5 {
    margin: -85px -66px 0px 0px;
} 
.main__left-partman svg {
    fell: rgb(224, 190, 197);
}
.main__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.word__none {
    display: flex;
}
.word__none-letters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 0px;
}
.letter {
    display: inline;
 border-bottom: solid 5px blue;
 width: 40px;
 margin: 30px 0px 10px 0px;
 
}
.question__text {
    font-size: 30px;
    margin: 20px 0px 10px 0px;
}
.score__text {
    font-size: 30px;
    margin: 0px 0px 10px 0px;
}
.keybord {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    max-width: 390px;
}
.keybord button {
    background-color: rgb(217, 221, 80);
    font-size: 25px;
    width: 38px;
    height: 38px;
    cursor: pointer;
}
.keybord button:hover {
    background-color: rgba(217, 221, 80, 0.5);
}







.footer {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: rgb(224, 190, 197);
    align-items: center;
}
.footer__year,
.footer__rs {
    font-size: 22px;
}
.footer__github img {
    width: 44px;
    height: 44px;
    margin: 0px;
}

