html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    background-color: linen;
    padding: auto 20px;
}
.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 1440px;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(224, 190, 197);
}
.header__text {
  margin: 0px;
  animation: header__text 2s infinite;
}
@keyframes header__text {
    from { color:black}
    to {color: brown;}
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main__left {
    display: flex;
}
.img-gallows {
    max-height: 300px;
}
.main__left-partman {
   margin: 0px 0px 0px 0px;
   transform: scale(0.4);
}
.img1 img {
    margin: -55px 0px 0px -140px;
    width: 135px;
}
.img2 {
    margin: -5px 0px 0px -140px;
}
.img3 {
    margin: -135px 60px 0px -140px;
}
.img4 {
    margin: -84px -63px 0px -140px;
}
.img5 {
    margin: 37px 60px -60px -140px;
}
.img6 {
    margin: -85px -66px 0px -140px;
} 
.main__left-partman svg {
    fell: rgb(224, 190, 197);
}
.no {
    display: none;
}
.yes {
    display: block;
}
.main__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.word__none {
    display: flex;
}
.word__none-letters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 0px;
    height: 30px;
}
.letter.word__none-letter {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    border-bottom: none;
}
.letter {
    display: inline;
 border-bottom: solid 5px blue;
 width: 40px;
 margin: 0px 0px 0px 0px;
}
.question {
    max-width: 390px ;
}
.question__text {
    font-size: 30px;
    margin: 0px 0px 0px 0px;
    font-weight: 800;
}
.score__text {
    font-size: 30px;
    margin: 0px 0px 10px 0px;
}
.score-num {
    color: red;
}
.keybord {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    max-width: 390px;
}
.keybord button {
    background-color: rgb(217, 221, 80);
    border-radius: 25%;
    font-size: 22px;
    width: 33px;
    height: 33px;
    cursor: pointer;
}
.keybord button:hover {
    background-color: rgba(217, 221, 80, 0.5);
}
.keybord button:disabled {
    opacity: 0.6;
    pointer-events: none;
    background-color: red;
}
.dis {
    opacity: 0.6;
    pointer-events: none;
}
.lost,
.win {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    border: solid 5px rgb(200, 141, 141);
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 300px;
    position: absolute;
    left: 41%;
    top: 38px;
    border-radius: 30px;
    z-index: 1;
}
.lost img,
.win img {
    width: 150px;
    margin: 0px;
}
.lost-text,
.win-text {
    color: red;
    font-weight: 800;
    font-size: 35px;
    margin: 0px;
}
.word {
    font-size: 30px;
    font-style: italic;
    margin: 5px;
}
.word b{
    font-size: 30px;
    font-style: normal;
    margin: -5px;
}
.play-again {
    font-size: 20px;
    font-weight: 700;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    cursor: pointer;
}
.play-again:hover {
    background-color: brown;
    transition: all 1s;
}
.lost, .win {
    display: none;
}
.result .open {
    display: block;
}
.result .lost.ope {
    display: none;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: rgb(224, 190, 197);
    align-items: center;
}
.footer__year,
.footer__rs {
    font-size: 20px;
}
.footer__github img {
    width: 30px;
    height: 30px;
    margin: 0px;
}

